.containerBemVinda {
    background-image: radial-gradient(circle, #eca79e, #fff);
    height: 100vh;
    width: 100vw;
}

.unhaimg {
    border-radius: 50%;
    height: 400px;
    width: 250px;
}

.txtBemVinda {
    font-family: var(--fontetitulo);
}

.h1CrisLuna {
    font-size: 90px;
}






@media (max-width: 768px) {
    .containerBemVinda {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .unhaimg {
        visibility: hidden;
    }

    .h1CrisLuna {
        font-size: 70px;
    }
}
